<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dual_arm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import dual_arm urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/dual_ur.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="dual_arm.ros2_control.xacro" />


    <xacro:dual_arm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
